@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background: rgb(172, 172, 172);
 }